@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}

#walk-wrapper {
    /* JS VAI SETAR A PARTIR DO ELEMENTO 
    height: 80px; 
    width: 80px; 
    margin-left: -40px; /* CALCULADO PELO JS. METADE PRA DEIXAR CENTRALIZADO
    margin-top: -40px; /* CALCULADO PELO JS. METADE PRA DEIXAR CENTRALIZADO
    /* POSIÇÃO A PARTIR DO ELEMENTO
    left: 500px; /* POSIÇÃO DO CIRCULO 
    top: 500px; /* POSIÇÃO DO CIRCULO  */

    /* FIXO DO ESTILO */
    position: absolute;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: inset 0px 0px 16px rgba(0,0,0,0.5);
}

#walk-wrapper:before {
    /* FIXO DO ESTILO */
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    border: solid 300vw #fff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    margin-top: -300vw;
    margin-left: -300vw;
    opacity: .9;
    box-sizing: content-box !important;

    /* JS SETA A PARTIR DO PROGRAMADOR */
    border-color: inherit /* HERDADO DO PAI */
}

#walk-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: solid 1px white; /* COR DA BORDINHA */
}

#walk-content {
    /* TEXTO E BOTÃO */
    position: absolute;
    left: 100%; /* PARA CONTEUDO A ESQUERDA: -400%. PARA A DIREITA: 100% */
    top: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#walk-button {
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    padding: 0 2rem;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border:0;
    border-radius: 2px;
    outline: 0;
    line-height: 36px;
    letter-spacing: .5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#walk-button:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

#walk-text {
    min-width: 350px;
    margin-bottom: 16px;
    font-size: 24px;
}

#walk-text a{
    text-decoration: none;
    color: #d1cece;
    font-weight: bold;
}

#walk-text a:hover{
    color: #bfbfbf;
}
